extends layout

block content
    script(type='text/javascript' src='/javascript/draw.js')
    div(ng-app='drawingApp' ng-controller='drawingController')
        h1= title
        p Welcome to #{title}
        section
            #leftBox
                textarea.textBox(id='inputArea' ng-model='text' ng-change='update()' autofocus)
            #rightBox
                canvas(id='canvas' height= '600' )